{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>{{ category.name }}</h2>

{% if tasks %}
    <ul>
    {% for task in tasks %}
        <li class="task-card">

            <div class="task-main">

                <div class="task-left">

                    {% if task.priority.name == "High" %}
                        <span class="priority-dot priority-high"></span>
                    {% elif task.priority.name == "Medium" %}
                        <span class="priority-dot priority-medium"></span>
                    {% else %}
                        <span class="priority-dot priority-low"></span>
                    {% endif %}

                    <div>
                        <div class="task-title">
                            {{ task.title }}
                        </div>

                        {% if task.due_date %}
                            <div class="task-date">
                                {{ task.due_date|date:"d M, Y H:i" }}
                            </div>
                        {% endif %}
                    </div>

                </div>

            </div>

            <div class="task-actions">
                <a href="{% url 'task_toggle_complete' task.pk %}">Complete</a>
                <a href="{% url 'task_update' task.pk %}">Edit</a>
                <a href="{% url 'task_delete' task.pk %}">Delete</a>
            </div>

        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No active tasks in this category.</p>
{% endif %}

{% if completed %}
<section>
    <h3>Completed</h3>
    <ul>
    {% for task in completed %}
        <li class="task-card completed-task">

            <div class="task-main">

                <div class="task-left">

                    <span class="priority-dot priority-low"></span>

                    <div class="task-title completed-title">
                        {{ task.title }}
                    </div>

                </div>

            </div>

            <div class="task-actions">
                <a href="{% url 'task_toggle_complete' task.pk %}">
                    Uncomplete
                </a>

                <a href="{% url 'task_delete' task.pk %}">
                    Delete
                </a>
            </div>

        </li>
    {% endfor %}
    </ul>
</section>
{% endif %}
<div style="display:flex; gap:12px; margin-top:24px;">
    <a href="{% url 'category_toggle_pin' category.pk %}" class="btn btn-primary">
        {% if category.is_pinned %}Unpin from nav{% else %}Pin to nav{% endif %}
    </a>
    <a href="{% url 'category_update' category.pk %}" class="btn btn-primary">Edit Category</a>
    <a href="{% url 'category_delete' category.pk %}" class="btn btn-danger">Delete Category</a>
</div>
{% endblock %}