{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Completed Tasks</h2>

{% if completed_tasks %}
    <ul>
    {% for task in completed_tasks %}
    <section>
        <ul>
            <li class="task-card completed-task">

                <div class="task-main">

                    <div class="task-left">

                        {% if task.priority.name == "High" %}
                            <span class="priority-dot priority-high"></span>
                        {% elif task.priority.name == "Medium" %}
                            <span class="priority-dot priority-medium"></span>
                        {% else %}
                            <span class="priority-dot priority-low"></span>
                        {% endif %}

                        <div class="task-title completed-title">
                            {{ task.title }}
                        </div>

                    </div>

                    {% if task.category %}
                        <a href="{% url 'category_tasks' task.category.pk %}"
                        class="btn btn-ghost">
                            {{ task.category }}
                        </a>
                    {% endif %}

                </div>

                <div class="task-actions">

                    <a href="{% url 'task_toggle_complete' task.pk %}">
                        Uncomplete
                    </a>

                    <a href="{% url 'task_delete' task.pk %}">
                        Delete
                    </a>

                </div>

            </li>
        </ul>    
    </section>    
    {% endfor %}
    </ul>
{% else %}
    <p>No completed tasks yet.</p>
{% endif %}

{% endblock %}