{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Profile</h2>

    {% if request.user.profile.avatar %}
        <img class="avatar-img" src="{{ request.user.profile.avatar.url }}" alt="Avatar">
    {% else %}
        <img class="avatar-img" src="{% static 'images/default_avatar.png' %}">
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ p_form.as_p }}
        <button type="submit">Update</button>
    </form>

    <p>Change Password: <a href="{% url 'password_change' %}"> Click Here!</a></p>
{% endblock %}