{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TaskManager</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <nav>
        {% if user.is_authenticated %}
            <form action="{% url 'search' %}" method="GET">
              <input
                type="search"
                name="q"
                placeholder="🔍Search tasks..."
                maxlength="30"
              >
              <button type="submit">Search</button>
            </form>
            <a href="{% url 'task_create' %}">＋Add Task</a>
            <a href="{% url 'index' %}">All</a>
            <a href="{% url 'today' %}">Today</a>
            <a href="{% url 'completed' %}">Completed</a>
            <a href="{% url 'category_create' %}">Add Category</a>
            {% if pinned_categories %}
                {% for category in pinned_categories %}
                    <a href="{% url 'category_tasks' category.pk %}">{{ category.name }}</a>
                {% endfor %}
            {% endif %}
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock %}

  </body>
</html>
